data/tokenizers
__pycache__/
.DS_Store
modded-nanogpt/
modded-nanogpt
data/datasets
data/manifest.json
data/docs_selected.jsonl
.mypy_cache/
.venv
logs/
# Large data / cache files
*.pkl
embedding-loss/lama/data/embedding_prob_data.csv
embedding_prob_pythia_data.csv
embedding_prob_baseline_data.csv
